<section>
  <h2>{{ site.popular_post_title }}</h2>
  <ul id="popular_posts" class="posts">
    {% for post in site.popular_posts %}
    {% if forloop.index == 3 and site.adsense_aside_popular %}
    <li>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-format="fluid"
         data-ad-layout-key="-hr+8-1l-2i+ar"
         data-ad-client="ca-pub-{{site.adsense_id}}"
         data-ad-slot="{{site.adsense_aside_popular}}"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </li>
    {% endif %}
    <li class="post index_click_box">
      {% include post/popular_post_list.html %}
    </li>
    {% endfor %}
  </ul>
</section>
